/*CAROUSEL*/

.carouselExampleControls{
    width: 200%
    /*margin: 2rem;*/
    float: right;
    animation-duration: 1s;
    animation-name:aparecer;
}

img{
    animation-duration: 5s;
    animation-name:aparecer;

}