/* header */

header nav ul{
    width: auto;
    float: right;
    margin: 8px 50px;
}

header nav ul li{
    display: inline-block;
    padding: 15px 30px;
}

header nav ul li a{
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: Orbitron;
    color: black;
    margin: 4px 5px 4px 5px;  /*separación texto menu*/
}

.indice:hover{
    color: #04B5A9
}

.logo{
    position: absolute;
    font-family: Orbitron; 
    text-decoration: none; /*sin subrayar*/
    font-size: 1.8rem; /*como poner nombre mas pequeño? y mas separado */
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 20px;
    font-weight:normal; /*hacer que no sea negrita*/
    color: #04B5A9
}

.tituloLogo{
   background-repeat: no-repeat;
   background-position: right center;
   font-family: Orbitron; width: 400;
}
