body, html {
   font-size: 62.5%; /*unidades para rem*/
   margin: 0;
   padding: 0;
   height: 2rem;
}

head{
    width: 100%;
    height: 20px;
}


/*body h1 */ 

#logo{
    position: absolute;
    font-family: Orbitron; 
    text-decoration: none; /*sin subrayar*/
    font-size: 1.8rem; /*como poner nombre mas pequeño? y mas separado */
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 20px;
    font-weight:normal; /*hacer que no sea negrita*/
    color: #04B5A9
}

.tituloLogo{
   background-repeat: no-repeat;
   background-position: right center;
   font-family: Orbitron; width: 400;
}

#navbarmovil{
    display: none;
}

/*HEADER*/

#menu nav ul{
    width: auto;
    float: right;
    margin: 8px 50px;
}

#menu nav ul li{
    display: inline-block;
    padding: 15px 30px;
}

#menu nav ul li a{
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: Orbitron;
    color: black;
    margin: 4px 5px 4px 5px;  /*separación texto menu*/
}

#menu .indice:hover{
    color: #04B5A9
}

.footer a img{
    margin: 5px 5px 5px 15px;
    float: left;
    opacity: 0.5;
}
.cvimg{
	margin: 50px 10px 90px 10px;
	padding: 10px 10px 10px 10px;
}

.oculta{
    display: none;

}

@media only screen and (min-width: 100px) and (max-width: 700px) {
    .oculta {
           display: block;
           background-image: url(media/cv/cv02.jpg);
           width: 100%;
        }

    .cvimg {
           display: none;
           background-image: url(media/cv/cv.jpg);
        }
    #navbarmovil{
           display: block;
           margin: 0px 0px 10px 0px;
        }
    .ocultarmenu{
          display: none;
        }
    #logo{
          margin: 30px 0px 0px 80px;
        }

    }