body, html {
   font-size: 62.5%; /*unidades para rem*/
   margin: 0;
   padding: 0;
   height: 2rem;
}

head{
    width: 100%;
    height: 20px;
}



/*body h1 */ 

#logo{
    position: absolute;
    font-family: Orbitron; 
    text-decoration: none; /*sin subrayar*/
    font-size: 1.8rem; /*como poner nombre mas pequeño? y mas separado */
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 20px;
    font-weight:normal; /*hacer que no sea negrita*/
    color: #04B5A9
}

.tituloLogo{
   background-repeat: no-repeat;
   background-position: right center;
   font-family: Orbitron; width: 400;
}

#navbarmovil{
    display: none;
}

/*HEADER*/

#menu nav ul{
    width: auto;
    float: right;
    margin: 8px 50px;
}

#menu nav ul li{
    display: inline-block;
    padding: 15px 30px;
}

#menu nav ul li a{
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: Orbitron;
    color: black;
    margin: 4px 5px 4px 5px;  /*separación texto menu*/
}

#menu .indice:hover{
    color: #04B5A9
}


.footer a img{
    margin: 5px 5px 5px 15px;
    float: left;
    opacity: 0.5;
}

button{
	background-color: grey;
	margin-left: 10px;
}

.filaUno .celdaUno {
	background-color: red;
	font-family: Open Sans; width: 600;  
}

.filaUno .celdaDos{
	background-color: gray;
	font-family: Open Sans; width: 400; 
}

.filaUno .celdaTres{
	background-color: gray;
	font-family: Open Sans; width: 400; 
}

.formulario{
	margin: 30px 10px 80px 450px;
	padding: 100px 10px 10px 30px;
	font-family: Orbitron;
    font-size: 10px;
}

.formulariotexto{
	font-family: Orbitron;
    font-size: 10px;
    color: white;
    border: 2px;
    background-color: black;
    size: 226px 194px;
}

.botonformulario{
	font-family: Orbitron;
	font-size: 10px;
}

@media only screen and (min-width: 100px) and (max-width: 700px) {
    .formulario{
        margin: 10px;
        padding: 10px;
    }
    
    #navbarmovil{
        display: block;
        margin: 0px 0px 10px 0px;
    }
    .ocultarmenu{
        display: none;
    }
    #logo{
        margin: 30px 0px 0px 80px;
    }

}
